*{
	background: black;
    color: white;

}
#mainheading{
	font-size:32px ;
	text-align: center;
	font-weight:1500;
	font-style: italic bold;
}
#mainheading img{
	width: 110px;
}
#subheading{
   text-align: center;
   font-size: 28px;
   font-family: Helvatica;
}
.container1{
	width: 80%;
	text-align: left;
}
.container2{
	font-style: normal;
}
#gradts{
	text-align: center;
	font-size:40px;
	background-image: linear-gradient(to right,red,orange,coral,pink,purple,indigo,blue,lightblue,turquoise,green);
	background-size: 50;
	-webkit-text-fill-color:transparent ;
	-webkit-background-clip: text;
}
.box1 h1{
background-image: blue;
background-clip: text;
}
#navbar ul{
	font-family:Ariel, Verdana;
	padding: 0;
	list-style: none;
	float: right;
	margin-top: 5px;
}
#navbar li{
	display: inline;
   

}
#navbar a{
	text-decoration: none;
	font-size: 18px;
	padding-left: 15px;
}
#blue{
    background-image: linear-gradient(to right, #00b7eaff,#0000ff);
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 13px;
}
#centre{
	text-align: center;
}
#search img{
	width: 35px;
}
.image img{
	width: 40%;
	padding-left: 35%;
	
}
#imge2{
	width: 40%;
	padding-left: 0;
	float: right;

}
.container1 img{
    float:right;
    margin-left: 100px;
}
#imge img{
	padding-right: 0;
	float: left;
	width: 360px;
	margin-right: 100px;
}
footer{
    display: inline-block;
    background-color: #222222;
    margin: -20px;
    height: 300px;
    width: 100%;
}
footer div{
    width: 25%;
    margin-left: 50px;
    margin-right: 50px;
    float:left;
}
#tor{
    font-size: 30px;
    font-style: italic;
}
.container2 img{
	
	float: left;
    margin-right: 100px;
    width: 360px;
}
section > br{
    clear: both;
} 