*{
	background: #333;
    color: white;

}
#mainheading{
	font-size:32px ;
	text-align: center;
	font-weight:1500;
	font-style: italic bold;
}
#subheading{
   text-align: center;
   font-size: 28px;
   font-family: Helvatica;
}
.container1{
	width: 80%;
	text-align: left;
}
.container2{
	text-align: right;
	width: 500px;
    float: right;

}
#gradts{
	text-align: center;
	font-size:40px;
	background-image: linear-gradient(to right,red,orange,coral,pink,purple,indigo,blue,lightblue,turquoise,green);
	background-size: 50;
	-webkit-text-fill-color:transparent ;
	-webkit-background-clip: text;
}
.box1 h1{
background-image: blue;
background-clip: text;
}
#navbar ul{
	font-family:Ariel, Verdana;
	padding: 0;
	list-style: none;
	float: right;
	margin-top: 5px;
}
#navbar li{
	display: inline;
   

}
#navbar a{
	text-decoration: none;
	font-size: 18px;
	padding-left: 15px;
}
#blue{
    background: skyblue;
    border-radius: 3px;
    padding: 5px;
}

